body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    background-color: #0077b6;
    color: black;
    padding: 20px;
    margin: 0;
    font-size: 24px;
}

input[type="range"] {
    width: 80%;
    margin: 20px 0;
}

#posicionValor {
    font-weight: bold;
    color: #333; /* Letras oscuras */
}

#infoTasas {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

th {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Estilos responsive a partir de 700px */
@media (min-width: 700px) {
    h1 {
        position: relative;
        background-color: transparent;
    }
    
    input[type="range"] {
        width: 60%;
        margin: 20px 0;
    }
}

