body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    background-color: #0077b6;
    color: #fff;
    padding: 20px;
    font-size: 24px;
    margin: 0;
}

input[type="file"] {
    margin: 20px;
}

/* Estilos para el contenedor */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 429.48px;
    background-color: #0077b6;
}

#imagenMostrada {
    max-width: 500px; /* Ancho máximo de 500px */
    max-height: 500px; /* Altura máxima de 500px */
    margin: 20px;
}

/* Agrega estos estilos al archivo "ejer3.css" */
input[type="file"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: #0077b6;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="file"]::file-selector-button {
    background-color: #0077b6;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="file"]:hover {
    background-color: #005f8d;
}

input[type="file"]::file-selector-button:hover {
    background-color: #005f8d;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}