body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 481px;
    box-sizing: border-box;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.picture img {
    display: block;
    max-width: 100px;
    height: auto;
}

nav {
    background-color: #555;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 24px;
}

nav a:hover {
    background-color: #333;
}
